.accordion {
  &__item-btn {
    position: relative;
    padding: @item-padding;
    padding-left: @icon-size + (@item-padding * 2);
    width: 100%;
    text-align: left;

    .dir-rtl & {
      padding-left: @item-padding;
      padding-right: @icon-size + (@item-padding * 2);
      text-align: right;
    }
  }

  &__item-icon {
    position: absolute;
    top: 50%;
    left: @item-padding;
    .transform(translateY(-50%));

    .dir-rtl & {
      left: inherit;
      right: @item-padding;
    }
  }

  // --------------------------------------------------
  // Item icon states
  // --------------------------------------------------
  &__item-btn.is-closed {
    .icon {
      .icon-plus;
    }
  }

  &__item-btn.is-open {
    .icon {
      .icon-minus;
    }
  }
  // --------------------------------------------------

  &__item-content {
    display: none;
  }

  // --------------------------------------------------
  // Predefined image alignment classes
  // Aligns image either left or right on desktop
  // Defaults to underneath on smaller screens
  // --------------------------------------------------
  @media (min-width: (@device-width-medium + 1)) {
    &__item.align-image-left {
      .accordion__item-content-inner {
        display: flex;
        flex-direction: row-reverse;
      }

      .accordion__item-body,
      .accordion__item-image-container {
        width: 50%;
      }
    }

    &__item.align-image-right {
      .accordion__item-content-inner {
        display: flex;
        flex-direction: row;
      }

      .accordion__item-body,
      .accordion__item-image-container {
        width: 50%;
      }
    }
  }
  // --------------------------------------------------
}
