.accordion-component {

  .accordion-item {
    border: 1px solid @tertiary-color;
    margin-bottom: 2px;
  }

  .accordion-item-title-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -16px;
  }

  .accordion-item-title {
    display: block;
    position: relative;
    padding: 12px 12px 12px 42px;
    color: @light-color;
    background-color: @primary-color;
    text-decoration: none;

    &.visited {
      background-color: @tertiary-color;
    }

    &.selected {
      background-color: @secondary-color;
    }
  }
  
  .accordion-item-body {
    display: none;
    border-top: 1px solid @tertiary-color;
  }

  .accordion-item-body-inner {
    padding: @item-padding;
  }

}

.no-touch {
  .accordion-component {
    .accordion-item-title {
      &:hover {
        background-color: @secondary-color;
      }
      &.visited:hover {
        background-color: @secondary-color;
      }
    }
  }
}
