<div class="accordion-inner component-inner" role="region" aria-label="{{_globals._components._accordion.ariaRegion}}">
    {{> component this}}
    <div class="accordion-widget component-widget">
        {{!-- items injected here --}}
    </div>
</div>
